<h1> List of Restaurants </h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurants.name, restaurants_path(restaurant)%></li>
  <% end %>
</ul>

<%= link_to "ADD NEW RESTAURANT", new_restaurant_path %>
